<config template="osx (default)" platform="osx">Created: Wed Jul 23 18:09:03 2014
By: nsmith
Using Template: osx (default)

&lt;description to go here><option name="osx-icon" value="" fromDef="true"/>
    <option name="osx-info-plist" value="" fromDef="true"/>
    <option name="osx-sign-for-store" value="" fromDef="true"/>
    <option name="osx-minimum-osx-version" value="10.7" fromDef="true"/>
    <option name="osx-signing-identity-app" value="3rd Party Mac Developer Application" fromDef="true"/>
    <option name="osx-signing-identity-inst" value="3rd Party Mac Developer Installer" fromDef="true"/>
    <option name="osx-appstore-category" value="public.app-category.games" fromDef="true"/>
    <option name="osx-entitlements-plist" value="" fromDef="true"/>
    <option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="resources/common.icf;resources/app.icf" fromDef="true"/>
    <option name="name" value="QuickEggBreaker" fromDef="true"/>
    <option name="caption" value="QuickEggBreaker" fromDef="true"/>
    <option name="provider" value="nsmith" fromDef="true"/>
    <option name="copyright" value="(C) nsmith" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="osx-ext-dll" value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eWebView/lib/osx/libs3eWebView.dylib" fromDef="true"/>
    <option name="osx-extra-res" value="" fromDef="true"/>
</config>
